<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<title>Live Tracker</title>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css">
</head>

<body>

<div id="map"></div>

<div id="nameModal">
    <input id="nameInput" placeholder="Enter name">
    <button onclick="saveName()">Start</button>
</div>

<div id="panel">
    <h3>🛰️ Live Tracker</h3>
    <p id="users">Users: 0</p>
    <ul id="userList"></ul>
    <div id="routeInfo">
        <p id="place"></p>
        <p id="eta"></p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>